body{
    background-color: white;
}
.box{
    text-align: center;
}
.box1{
    text-align: center;
    padding-bottom: 30%;
    
}
.box2{
    text-align: center;
    margin-right: 20%;
}
a{
 padding-right: 20px;
}

